[Desktop Entry]
Name=QQmusic
Name[zh_CN]=QQ音乐
Exec=qqmusic.sh %U
Terminal=false
Type=Application
Icon=com.qq.QQmusic
StartupWMClass=QQmusic
Comment=QQMusic
Categories=AudioVideo;
