[Desktop Entry]
Name=QQ Music
Exec=qqmusic.sh %U
Terminal=false
Type=Application
Icon=com.qq.QQmusic
StartupWMClass=QQMusic
Comment=Tencent QQMusic
Categories=AudioVideo;
